body {
  background-color: #B9E4C9;
}

textarea {
  box-sizing: border-box;
  padding: 1em;
  resize: none;
  background-color: #FFFBE6;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.wrapper {
  box-sizing: border-box;
  border: 4px solid #FD5523;
  border-radius: 10px;
  width: 45vw;
  min-height: 90vh;
  margin: 10px 0;
}

.output {
  background-color: #FFFBE6;
  padding: 1em;
  overflow: scroll;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    width: 90vw;
    
  }
}